{
  "env": {
    "test": {
      "presets": [
        "env"
      ]
    }
  },
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}
